*,
*::before ,
*::after {   
     margin: 0;
    padding: 0;
    box-sizing:border-box;
}

 
:root{
    --bg-main: #7F917C;
    --text-main: #DCDCD9;
    --accent: #FBEF81;
    --bg-secondary: #41543E;
    font-size: 15px;
}

*{   
    font-family: 'Inter, Verdana ,Tahoma,sans-serif, ';
    color: var(--text-main); 
    
    
}
body {
    text-align: center;
    background-color: var(--bg-main)}


@media screen and (max-width:350px) {
    body { background-color: var(--bg-main);
    margin: 50px; 
    padding: 40px, 30px,32px, 30px;}
.sidenav { 
    width: 50px;

}
}

@media screen and (min-width:1440px){
    body { background-color: var(--bg-main);
        margin: 0px; 
        padding: 0px
    }
}

.accent{
    color: var(--accent);
}

.line {
    height: 3px;
    background: var(--accent);}

    
a:hover {
  background-color: var(--accent);}
  a:active {
    background-color: var(--accent);
  } 

  a:visited {
    background-color: var(--accent);
  }

  h1{
    font-size: 48px;
    line-height: 58px;
  }

  .sidenav {
    height: 100%;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: var(--bg-secondary);
    overflow-x: hidden; 
    padding-top: 100px; }
    .topnav {
        overflow: hidden;
        background-color: var(--bg-main);} 
            .topnav input[type=text] {
                float: right;
                padding: 6px;
                border: none;
                margin-top: 8px;
                margin-right: 1px;
                font-size: 15px;}
.box {
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-secondary);
        width: 345px;
        padding: 25px;
        margin: auto;

}